@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
   align-items: center;
   justify-content: center;
   border:3px solid black;
   /* background-color: aquamarine; */
   width:100%;
    height: 800px;
   flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid black;
    /* background-color: rgb(7, 49, 35); */
    width:90%;
    height:60%;
    flex-direction: column
}
.container1{
    display: flex;
   align-items: center;
   justify-content: center;
    /* border:2px solid black; */
   /* background-color:rgb(158, 142, 142); */
   width:80%;
   height:30%;
   flex-direction: column
   
}
.container2{
    display: flex;
   align-items: center;
   justify-content: center;
    border:3px solid black;
   /* background-color:red; */
   width:80%;
   height:50%;
   padding:0%;
}
.div1{
    /* border:2px solid black; */
   /* background-color:rgb(0, 255, 64); */
   width:20%;
   height:50%;
   display: flex;
    align-items: center;
    justify-content: center;
    margin:0 30px;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid black; */
   /* background-color:rgb(0, 195, 255); */
   width:30%;
   height:80%;
   flex-direction: column;
   position: relative;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border:2px solid black; */
   /* background-color:rgb(123, 255, 0); */
   width:30%;
   height:80%;
}
.rect{
    display: flex;
    align-items: center;
    justify-content: center;
     border:3px solid black;
    /* background-color:red; */
    width:70%;
   height:70%;
}
.circle
{
    display: flex;
    align-items: center;
    justify-content: center;
     border:3px solid black;
    /* background-color:red; */
    width:70%;
   height:70%;
   border-radius: 50%;

}
 label{
    /* border:2px solid black; */
    /* background-color:rgb(225, 33, 107); */
    margin :3px;
    padding: 6px;
    width:90%;
    text-align: right;


}

    
.div5 > input{
    border:2px solid black;
    /* background-color:rgb(225, 33, 107); */
    margin :5px;
    padding: 6px;
    width:90%;
    text-align: right;

}
.div5> select{
    border:2px solid black;
    /* background-color:rgb(225, 33, 107); */
    margin :5px;
    padding: 6px;
    width:40%;
    text-align: right;
}
 #button{
  
  width: 100px;
  height: 20px;
}
.font{
    font-family: 'Shantell Sans', cursive;
}